*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
}

.header{
    height: 200px;
    width: 100%;
    border: 1px solid rgb(216, 231, 225);
    background: rgba(117, 251, 251, 0.082);
    margin-left: 250px;
    padding-left: 150px;
 
}

.headerTitle{
    display: flex;
    justify-content: center;
    margin-right: 560px;
    margin-top: 40px;
    margin-bottom: -89px;
    padding-left: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerSubTitle{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: -117px;
    min-width: 420px;
    padding-left: 75px;
    font-family:monospace;
    font-size: 14px;
}

.sideBar{
    height: 1000px;
    width: 300px;
    border: 1px solid rgb(33, 145, 197);
    z-index: 1;
    margin-top: -200px;
    background: rgb(38, 179, 245);
    position: fixed;
}

#profilePic{
    height: 225px;
    width: 225px;
    border-radius: 180px;
    position: absolute;
    top: 7%;
    left: 12%;
}

#selfBlurb{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: 14px;
    width: 275px;
    font-family:monospace;
}

#findOutMoreText{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 14px;
    padding-right: 35px;
    margin-top: 7px;
    color: black;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.linebreak{
    border: .1rem solid grey;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
}

.sideBarButton{
    height: 35px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

#homeIcon{
    margin-top: 5px;
    margin-left: 30px;
}


#blogToHome{
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 7px;
    margin-right: 4rem;
    cursor: pointer;
}

#blogToBlog{
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 7px;
    margin-right: 6rem;
    cursor: pointer;
}

#blogToAbout{
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 7px;
    margin-right: 6rem;
    cursor: pointer;
}

#contactBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 45px;
    height: 40px;
    width: 140px;
    border-radius: 6px;
    border: none;
    background: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.sideBar {
    color: white;
}

.blogTitle{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 250px;
    font-weight: bold;
    text-decoration: underline;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 25px;
   
   
}

/* iconAnimations */
#twitterIcon{
    transition: transform .7s ease-in-out;

}
#twitterIcon:hover{
    transform: scale(2) rotate(360deg);
  
}
#githubIcon{
    cursor: pointer;
    transition: transform .7s ease-in-out;
}
#githubIcon:hover{
    transform: scale(2) rotate(360deg);
}
#linkedinIcon{
    transition: transform .7s ease-in-out;
}
#linkedinIcon:hover{
    transform: scale(2) rotate(360deg);
}
#stackoverflowIcon{
    transition: transform .7s ease-in-out;
  
}
#stackoverflowIcon:hover{
    transform: scale(2) rotate(360deg);
}
#discordIcon{
    cursor: pointer;
    transition: transform .7s ease-in-out;
}
#discordIcon:hover{
    transform: scale(2) rotate(360deg);
}


/* iconAnimations */

.wrapper{
    margin-top: 240px;
}

.mainContent{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: -50px;
    margin-bottom: 18px;
}

#cardPicture{
    height: 150px;
    width: 175px;
    margin: 20px 0px 0px 150px;
}

#cardTitle{
    margin-left: 55px;
    margin-top: 20px;
    width: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

#blogDescription{
    display: flex;
    width: 520px;
    margin-left: -600px;
    margin-top: 60px;
    font-family:monospace;
    font-size: 14px;
}

#readMore{
    margin-left: -518px;
    margin-top: 150px;
    color: green;
    cursor: pointer;
}


/* form tests */

form{
    background: rgba(153, 167, 179, 0.97);
    width: 740px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
    position: absolute;
    top: 20%;
    left: 35%;

    
}

form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half{
    display: flex;
    justify-content: space-between;
}

form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;

}

form .full{
    margin-bottom: 24px;
}

form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;

}

form .action input{
    background: transparent;
     border-radius: 4px;
     border: 1px solid white;
     cursor: pointer;
     font-size: 13px;
     font-weight: 600;
     height: 44px;
     letter-spacing: 3px;
     outline: 0;
     padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"]{
    background: white;
    color: black;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover{
    background: rgba(149, 149, 149, 0.75);
}

@media (max-width 480px) {
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
        width: 100%;
    }
}


