*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.item1 { 
  grid-area: header; 
  height: 20vh;
  overflow: hidden;
}
.item2 { 
  grid-area: menu; 
  height: 100vh;
  width: 40vh;

}

.item3 { 
  grid-area: main; 
  height: 17vh;
  min-height: 175px;
  overflow: hidden;
}
.item4{
  grid-area: main1; 
  height: 17vh;
  min-height: 175px;
  overflow: hidden;
}
.item5{
  grid-area: main2; 
  height: 17vh;
  min-height: 175px;
  overflow: hidden;
}
.item6{
  grid-area: main3; 
  height: 17vh;
  min-height: 190px;
  overflow: hidden;
}
/* .item7{
  grid-area: footer;
  height: 5vh;
} */



.grid{
  display: grid;
  grid-template:
  'menu header header header header header'
  'menu main main main main main'
  'menu main1 main1 main1 main1 main1'
  'menu main2 main2 main2 main2 main2'
  'menu main3 main3 main3 main3 main3'
  'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #e5e5e5;
  padding: 10px;
}

.grid > div {
  background-color: rgba(5, 198, 232, 0.8);
  text-align: center;
  font-size: 30px;
  color: rgb(254, 254, 254);
}


.headerTitle{
  display: flex;
  justify-content: center;
  margin: 2% 0 1% 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 58px;
  color: rgb(255, 255, 255);
  
}

.headerSubTitle{
  display: flex;
  justify-content: center;
  min-width: 420px;
  padding-left: 25px;
  font-family:monospace;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  margin: 0 375px;
}

#cardPicture{
  display: flex;
  float: left;
  padding: 0 0 2vh 1vh;
  margin-left: 2%;
  margin-top: 1.5%;
  height: 15vh;
  width: 15vh;
}

#cardTitle{
  display: flex;
  justify-content: center;
  margin-right: 19vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  margin-top: 25px;
  text-decoration: underline;
  margin-bottom: 2%;
  min-width: 240px;
  color: rgb(212, 255, 0);
}

#blogDescription{
  display: flex;
  justify-content: center;
  font-family:monospace;
  font-size: 14px;
  letter-spacing: .02rem;
  color: black;
}



/* mediua queries */
@media (max-width: 768px) {
  .item2 {
      display: none;
  }
}

/* sidebar */

.blogTitle{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  text-decoration: underline;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#profilePic{
  height: 225px;
  width: 225px;
  border-radius: 180px;
}

#selfBlurb{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 0 20px 0 20px;
  font-size: 14px;
  /* width: 275px; */
  font-family:monospace;
  font-weight: 650;
}

#findOutMoreText{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 45px;
  margin-top: 7px;
  color: rgb(252, 243, 73);
  cursor: pointer;
  letter-spacing: 0.04em;
}

.linebreak{
  border: .1rem solid grey;
  margin-top: 30px;
  background: white;
  margin-bottom: 30px;
}

#icons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 25px;
 cursor: pointer;
}

.sideBarButton{
  height: 55px;
  overflow: hidden;
  font-size: 20px;
}

/* #homeIcon{
  margin-left: 50px;
}

#blogIcon{
  margin-left: 49px;
}

#aboutIcon{
  margin-left: 49px;
} */


#blogToHome{
  display: flex;
  float: right;
  margin-top: 7px;
  margin-right: 6.5rem;
  cursor: pointer;
}

#blogToBlog{
  display: flex;
  float: right;
  justify-content: center;
  margin-top: 7px;
  margin-right: 10rem;
  cursor: pointer;
}

#blogToAbout{
  display: flex;
  float: right;
  justify-content: center;
  margin-top: 7px;
  margin-right: 10rem;
  cursor: pointer;
}

#contactBtn{
  font-size: 16px;
  height: 55px;
  width: 140px;
  border-radius: 6px;
  border: none;
  background: rgb(0, 0, 0);
  font-weight: bold;
  color: rgb(252, 243, 73);
  cursor: pointer;
  margin: 20px 0  0 -5vh;
}

/* mediua queries */
@media (max-height: 835px) {
  #contactBtn {
      margin-top: -10px;
  }
}

form{
  background: rgba(153, 167, 179, 0.97);
  width: 740px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
  position: absolute;
  top: 10%;
  left: 27%;

  
}

form .title h2{
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half{
  display: flex;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input{
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;

}

form .full{
  margin-bottom: 24px;
}

form .full textarea{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;

}

form .action input{
  background: transparent;
   border-radius: 4px;
   border: 1px solid white;
   cursor: pointer;
   font-size: 13px;
   font-weight: 600;
   height: 44px;
   letter-spacing: 3px;
   outline: 0;
   padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"]{
  background: white;
  color: black;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover{
  background: rgba(149, 149, 149, 0.75);
}

@media (max-width 480px) {
  form .half{
      flex-direction: column;
  }
  form .half .item{
      width: 100%;
  }
  form .action{
      display: flex;
      flex-direction: column;
  }
  form .action input{
      margin-bottom: 10px;
      width: 100%;
  }
}

