*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: rgb(44, 44, 44);
    font-family: monospace;
}
#homeIcon{
    margin: 5px 0 0 30px;
    color: white;

}
.header{
    margin-bottom: -5px;
}


.mainContent{
    color: white;
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    margin-top: 75px;
}

.codingHeader{
text-decoration: underline;
    font-size: 40px;
    font-weight: bold;
   display: flex;
   margin-bottom: 10px;
   justify-content:center;
   color:rgb(151, 151, 151);
   
}

.codingSubText{
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(94, 255, 0);

}

.wrapper{
    display: flex;
    justify-content: center;
    padding-left: 50px;

}

.codingMaintext{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 0 50px;
   text-align: center;
  
}

.projectHeader{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    color:rgb(151, 151, 151);
    text-decoration: underline;
    
}

.projectSubText{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.listOfProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-top: 25px;
}

.listItem{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

a{
    color: rgb(94, 255, 0);
}

.viewAllProjects{
    /* color:rgb(147, 245, 0); */
    font-size: 16px;
    justify-content: center;
    display: flex;
    margin-top: 25px;
    text-shadow: 5px 3px 16px rgb(125, 176, 206);
}

.gitHubTitle{
    color:rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.gitHubSubText{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-shadow: 5px 3px 16px rgb(125, 176, 206);
    cursor: pointer;
}

.contactTitle{
    color:rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 35px;
    font-weight: bold;
    text-decoration: underline;
}

.contactText{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-shadow: 5px 3px 16px rgb(125, 176, 206);
    cursor: pointer;
}

/* form testing */

form{
    background: rgba(153, 167, 179, 0.97);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
    position: absolute;
    top: 2.5%;
    left: 34.4%;

    
}

form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half{
    display: flex;
    justify-content: space-between;
}

form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;

}

form .full{
    margin-bottom: 24px;
}

form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;

}

form .action input{
    background: transparent;
     border-radius: 4px;
     border: 1px solid white;
     cursor: pointer;
     font-size: 13px;
     font-weight: 600;
     height: 44px;
     letter-spacing: 3px;
     outline: 0;
     padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"]{
    background: white;
    color: black;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover{
    background: rgba(149, 149, 149, 0.75);
}

@media (max-width 480px) {
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
        width: 100%;
    }
}


